Refactor rules for LAN access

## Description

When “Bypass VPN for local networks” option is enabled, the app should disable local network access when the local network is using public IP addresses.

We want to only allow non-routable IP ranges:

Network Mask | Type | Explanation | Reference Document
-- | -- | -- | --
10.0.0.0/8 | IPv4 Private Address | Used for private networks | RFC 1918
172.16.0.0/12 | IPv4 Private Address | Used for private networks | RFC 1918
192.168.0.0/16 | IPv4 Private Address | Used for private networks | RFC 1918
169.254.0.0/16 | IPv4 Auto-IP | Used when DHCP fails, for local communication | RFC 3927
fc00::/7 | IPv6 Unique Local | Used for private networks (ULA) | RFC 4193
fe80::/10 | IPv6 Link-Local | Used for local communication, not routable | RFC 4291


Verified on v2.10.3, Redmi Note 10, Android 13.
@jurajhilje if "Bypass VPN for local networks" is enabled and you attempt to connect with OpenVPN, the app crashes.
With WireGuard, the app simply does not connect.

Verified on the latest version v2.10.3, tested LAN traffic with IVPN between a Windows machine and an Android device, OpenVPN and WireGuard.

- Windows to Android and vice versa -> LAN file sharing.
When connected to the VPN and "Bypass VPN for local network" is disabled, it is not possible to connect to the host device (Windows) and same the other way around, however if "Bypass VPN for local network" is enabled, connection to the host device can be established successfully and access the Windows files.

According to the results observed, "Bypass VPN for local network" seems to work as expected with OpenVPN and WireGuard.

We had to reopen the ticket, there was an issue where connecting to the VPN while using AntiTracker + "Bypass VPN for local network" at the same time, blocked internet traffic.
This issue is now resolved in the latest version 2.10.3, tested on Android 12 and 13, with both OpenVPN and WireGuard.

